AWS_ACCESS_KEY      = "AKIAIOSFODNN7EXAMPLE"
AWS_SECRET_KEY      = "wJalrXUtnFEMI/K7MDENG/bPOHlPjkEXAMPLEKEY"
PERSONAL_IP_ADDRESS = "192.168.0.1/32"
INSTANCE_ID         = "i-123a456789a12aa3d"
ECR_REPO_NAME       = "orders"